h1
{
  /*文字の色を#E6855Eにしてください*/
  color: #E6855E;
  /*大きさを30pxにしてください*/
  font-size: 30px;
}

p
{
  /*文字の色を#40BFB0にしてください*/
  color: #40BFB0;
  /*大きさを20pxにしてください*/
  font-size: 20px;
  
}

a
{
  /*文字の色を#F9DB57にしてください*/
  color: #F9DB57;
  /*大きさを40pxにしてください*/
  font-size: 40px;
}